<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="DataSource">TSDB</entry>
<entry key="DataTarge">LocalFile</entry>
<entry key="TSDB_Source">http://tswriter81/Inte-config/ts_proxy.xml</entry>
<entry key="TSDB_Target">http://tsdevwriter81/Inte-config/ts_proxy.xml</entry>
<entry key="LocalFile_Source">Data</entry>
<entry key="LocalFile_Target">Data</entry>
<entry key="LocalThreadNum">20</entry>
<entry key="LocalThreadMaxWait">5000</entry>
<entry key="MaxJobInBatch">10000</entry>

</properties>
